@define-color bg #080d06;
@define-color fg #b6dbbc;
@define-color gray1 #298b43;
@define-color gray2 #6d7e70;
@define-color gray3 #1865e7;
@define-color gray4 #7d672e;
@define-color gray5 #c677a0;
@define-color fg_bright #b6dbbc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}